#
# Kuzu lib files (have to inserted manually)
#

KuzuFiles/*.h
KuzuFiles/*.hpp
KuzuFiles/*.dll
KuzuFiles/*.lib

#
# SWIG generated classes (have to inserted manually)
#

KuzuFiles/generated_classes/**

#
# Cmake and build files
#

wrapperlib/build/**

#
# Visual studio files
#

**/.vs/*

#
# binary files
#

**/bin/*

#
# wrapper files in project
#

KuzuDB-net/KuzuDB-Net/WrapperFiles/**
