#
# Kuzu lib files (have to inserted manually)
#

KuzuFiles/*.h
KuzuFiles/*.hpp
KuzuFiles/*.dll
KuzuFiles/*.lib

#
# SWIG generated classes (have to be generated)
#

KuzuFiles/generated_classes/**
wrapperlib/kuzu_wrap.cpp

#
# Cmake and build files
#

wrapperlib/build/**

#
# Visual studio files
#

**/.vs/*

#
# binary files
#

**/bin/*
**/obj/*

#
# wrapper files in project
#

KuzuDB-net/KuzuDB-Net/WrapperFiles/**

#
# copied dll files
#
KuzuDB-net/KuzuDB-Net/kuzu_shared.dll
KuzuDB-net/KuzuDB-Net/kuzunet.dll
