#
# Kuzu lib files
#

KuzuFiles/*.h
KuzuFiles/*.hpp
KuzuFiles/*.dll
KuzuFiles/*.lib

#
# Cmake files
#

wrapperlib/build/**

#
# Visual studio files
#

**/.vs/*

#
# binary files
#

**/bin/*

#
# wrapper files in project
#

KuzuDB-net/KuzuDB-Net/WrapperFiles/**
